@{
    ViewBag.Title = "Result";
}

<h2>Entered data:</h2>

<p>Name: @ViewBag.Name</p>
<p>Location: @ViewBag.LastName</p>
<p>Type: @ViewBag.Type</p>
<p>Age: @ViewBag.Elevation</p>
<p>Length: @ViewBag.Adress</p>
<p>Open: @ViewBag.Open</p>

@Html.ActionLink("Enter new data", "Index")
